{% extends '../layout.njk' %}

{% block head %}
<title>Indeed Clone || User Education</title>
{% endblock head %}


{% block content %}
{% if user.is_verified == false %}
<div oncontextmenu="return false" class="modal-box flex items-center justify-center select-none">
    <div class="w-full lg:w-1/3 bg-green-300 p-8 rounded text-center">
        <h3 class="text-black font-semibold text-lg">
            Eylem gerekiyor: E-mail adresinizi doğrulayın
        </h3>
        <p class="mt-6 text-gray-800">
            CV'nin işverenlere harika göründüğünden emin ol. CV'ni hemen görüntülemek ve güncellemek için e-posta adresini onayla. Hesabını onaylamak için <span class="font-semibold">{{user.email}}</span> adresine gönderdiğimiz onay bağlantısına tıkla.
        </p>
    </div>
</div>
{% endif %}
<div class="create-resume-container">
    <div class="container mx-auto mt-10 flex flex-col">
        <div class="flex justify-between w-full lg:w-1/3 mx-auto items-center p-4 md:p-0">
            <h3 class="text-black resume-create-title">Bir Indeed CV Oluştur</h3>
            <span>Adım 2/5</span>
        </div>
       <form method="post">
        <div class="bg-white border rounded w-full lg:w-1/3 mx-auto mt-4 p-4">
            <h3 class="text-black font-semibold resume-sub-title">Eğitim</h3>
            <div class="flex flex-col mt-4">
                <span class="text-gray-700 font-semibold">Eğitim Seviyesi</span>
                <i-select name="education_level" size="large" class="mt-2" placeholder="Bir opsiyon seçin" value="{{user.educational_level}}">
                    <i-option value="none">Hiç</i-option>
                    <i-option value="İlkokul">İlkokul</i-option>
                    <i-option value="Ortaokul">Ortaokul</i-option>
                    <i-option value="Lise">Lise veya dengi</i-option>
                    <i-option value="Açıköğretim">Açıköğretim</i-option>
                    <i-option value="Üniversite">Üniversite</i-option>
                    <i-option value="Yüksek Lisans">Yüksek Lisans</i-option>
                    <i-option value="Doktora">Doktora</i-option>
                </i-select>
            </div>
            <div class="flex flex-col mt-4">
                <span class="text-gray-700 font-semibold">Okul</span>
                <i-input name="graduated_school" value="{{user.school}}" class="mt-2 login-register-input" size="large"></i-input>
            </div>
            <div class="flex flex-col mt-4">
                <span class="text-gray-700 font-semibold">Bölüm</span>
                <span class="mt-2 text-xs text-gray-600">Örnek: Biyoloji, Bilgisayar Mühendisliği, Tıp, Psikoloji</span>
                <i-input name="department" value="{{user.department}}"  class="mt-2 login-register-input" size="large"></i-input>
            </div>
            <div class="flex flex-col mt-4">
                <span class="text-gray-700 font-semibold">Konum</span>
                <auto-complete name="education_location" class="mt-2" size="large" suffix="md-pin" :filter-method="filterMethod" clearable
                    :data="findJob.cityDataArray" value="{{user.school_location}}" style="width: 100%;" />
            </div>
            <div class="flex flex-col mt-4">
                <span class="text-gray-700 font-semibold">Başlangıç/Bitiş Tarihi</span>
                <Checkbox name="still_student" v-model="user.education.still_student" class="my-2">Halen burada okuyorum.</Checkbox>
            </div>
            <div class="flex flex-col mt-4">
                <span class="text-gray-700 font-semibold">Başlangıç</span>
                <div class="flex">
                    <i-select name="start_month" size="large" class="mt-2 mr-4" placeholder="Ay :" v-model="user.education.school_start_month">
                        <i-option value="Ocak">Ocak</i-option>
                        <i-option value="Şubat">Şubat</i-option>
                        <i-option value="Mart">Mart</i-option>
                        <i-option value="Nisan">Nisan</i-option>
                        <i-option value="Mayıs">Mayıs</i-option>
                        <i-option value="Haziran">Haziran</i-option>
                        <i-option value="Temmuz">Temmuz</i-option>
                        <i-option value="Ağustos">Ağustos</i-option>
                        <i-option value="Eylül">Eylül</i-option>
                        <i-option value="Ekim">Ekim</i-option>
                        <i-option value="Kasım">Kasım</i-option>
                        <i-option value="Aralık">Aralık</i-option>
                    </i-select>
                    <i-select name="start_year" size="large" class="mt-2" placeholder="Yıl :" v-model="user.education.school_start_year">
                        <i-option value="2020">2020</i-option>
                        <i-option value="2019">2019</i-option>
                        <i-option value="2018">2018</i-option>
                        <i-option value="2017">2017</i-option>
                        <i-option value="2016">2016</i-option>
                        <i-option value="2015">2015</i-option>
                    </i-select>
                </div>
            </div>
            <div v-if="user.education.still_student == false" class="flex flex-col mt-4">
                <span class="text-gray-700 font-semibold">Bitiş</span>
                <div class="flex">
                    <i-select name="end_month" size="large" class="mt-2 mr-4" placeholder="Ay :" v-model="user.education.school_end_month">
                        <i-option value="Ocak">Ocak</i-option>
                        <i-option value="Şubat">Şubat</i-option>
                        <i-option value="Mart">Mart</i-option>
                        <i-option value="Nisan">Nisan</i-option>
                        <i-option value="Mayıs">Mayıs</i-option>
                        <i-option value="Haziran">Haziran</i-option>
                        <i-option value="Temmuz">Temmuz</i-option>
                        <i-option value="Ağustos">Ağustos</i-option>
                        <i-option value="Eylül">Eylül</i-option>
                        <i-option value="Ekim">Ekim</i-option>
                        <i-option value="Kasım">Kasım</i-option>
                        <i-option value="Aralık">Aralık</i-option>
                    </i-select>
                    <i-select  name="end_year" size="large" class="mt-2" placeholder="Yıl :" v-model="user.education.school_end_year">
                        <i-option value="2020">2020</i-option>
                        <i-option value="2019">2019</i-option>
                        <i-option value="2018">2018</i-option>
                        <i-option value="2017">2017</i-option>
                        <i-option value="2016">2016</i-option>
                        <i-option value="2015">2015</i-option>
                    </i-select>
                </div>
            </div>
        </div>
        <div class="w-full lg:w-1/3 mx-auto mb-4 flex items-center justify-between px-4 md:p-0">
            <i-button v-if="user.education.still_student == false" :disabled="(user.education.school_end_year == null || user.education.school_end_month == null) || (user.education.school_start_year == null || user.education.school_start_month == null) || (user.education.school_end_year < user.education.school_start_year)" html-type="submit" style="border-radius: 33px;" class="self-start flex items-center font-semibold  mt-4 p-5"
                type="primary">Sonraki
            </i-button>
            <i-button v-if="user.education.still_student == true" :disabled="(user.education.school_start_year == null) || (user.education.school_start_month == null)" html-type="submit" style="border-radius: 33px;" class="self-start flex items-center font-semibold  mt-4 p-5"
                type="primary">Sonraki
            </i-button>
            <i-button onclick="location.href='/resume/wizard/profile';" style="border-radius: 33px;" class="self-start flex items-center font-semibold  mt-4 p-5"
                type="default">Önceki Adım
            </i-button>
        </div>
       </form>
    </div>
</div>
{% endblock content %}